header {
  color: black;
  background: $color-grey;
  padding: 20px;
}

footer {
  color: black;
  background: $color-grey;
  padding: 20px;
}

.centered {
  margin: auto;
  max-width: 1024px;
}

.product-price {
  font-size: 13px;
}

.release-date {
  font-size: 13px;
}

.available {
  font-size: 13px;
}

.website {
  font-size: 13px;
}

@media (min-width: 769px) {
  .products {
    margin: 20px;
  }
}

@media (min-width: 1024px) {

  .product-price {
    font-size: 18px;
  }

}
