$desktop-font-size: 13px;

header {
  color: black;
  background: $color-grey;
}

.footer {
  color: black;
  background-color: $color-grey;
  padding: 40px;
}

.control {
  padding-top: 18px;
  left: 69rem;
}

.centered {
  margin: auto;
  max-width: 1024px;
}

.product-price {
  font-size: $desktop-font-size;
}

.release-date {
  font-size: $desktop-font-size;
}

.available {
  font-size: $desktop-font-size;
}

.website {
  font-size: $desktop-font-size;
}

.hero.is-medium .hero-head {
  color: black;
  background: $color-grey;
}

.hero.is-medium .hero-body {
  color: black;
  background: $color-grey;
  padding: 40px;
}

.hero.is-medium .hero-foot {
  color: black;
  background: $color-grey;
}

.pagination {
  padding-bottom: 18px;
  padding-right: 130px;
  padding-left: 130px;
}

@media (min-width: 769px) {
  .products {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .product-price {
    font-size: 18px;
  }

}
